@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

/* Your custom styles come after all @imports */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@theme {
  --font-sans: "Gabarito", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #16aaaf;
  --color-secondary: #f7f8fa;
  --color-background: #ffffff;
  --color-primary-dark: #0f7a7d;
}

html, body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-secondary);
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-[4rem] font-bold mb-4;
}
h2 {
  @apply text-3xl font-semibold mb-3;
}
h3 {
  @apply text-2xl font-medium mb-2;
}
